{% extends 'pokedex/base.html' %}

{% block title %}
Pokemon
{% endblock %}


{% block content %}
    <h1 class="poke-name"><span>#{{pokemon.number}}</span> {{ pokemon.name }}</h1>
    <img class="pokemon-details-img"src="{{ pokemon.image_url }}" alt="{{ pokemon.name }}">
    <section>
        {% for type in pokemon.types.all %}
            <span class="type {{type.name}}">{{ type.name }}</span>
        {% endfor %}
    </section>
    <section>
        <table class = "pokemon-detail">
            <tr>
                <th>Number</th>
                <td>{{ pokemon.number }}</td>
            </tr>
            <tr>
                <th>Height</th>
                <td>{{ pokemon.height }}</td>
            </tr>
            <tr>
                <th>Weight</th>
                <td>{{ pokemon.weight }}</td>
            </tr>
            
        </table>
    </section>
    <section>
        <table class = "ability-effect">
            <tr>
                <th>Ability</th>
            
            <td>{% for ability in pokemon.abilities.all %}</td>
                <tr>
                    <td>{{ ability.name }}</td>
                </tr>
            {% endfor %}
            <tr>
                <th>Effect</th>
                    <td>{% for ability in pokemon.abilities.all %}</td>
                    <td>{{ ability.effect }}</td>
            {% endfor %}
            
        </table>
    </section>

{% endblock %}