{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex </title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="{% static 'pokedex/main.js' %}"></script>
    <link rel="stylesheet" href="{% static 'pokedex/style.css' %}">
</head>
<body>
    {% include 'pokedex/_navbar.html' %}
    <div id="app">
        <div class="search-container" @blur="showDropdown = false">
            <input type="text" v-model="pokemon_search" @focus="showDropdown = true">
            <div v-if="showDropdown" class="search-dropdown">
                <div v-for="pokemon in filteredPokemon">
                    <a :href="`pokemon/${pokemon.id}`">
                    <div>
                        <img :src="pokemon.image_url" alt="">
                    </div>
                    <div>
                            <h3>[[ pokemon.name ]]</h3>
                            <div>
                                <span v-for="type in pokemon.types">[[ type.name ]]</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class ="display-pokemon">
            
            <div v-for="poke in pokemon">
                
                {% comment %} <a href="{% url 'pokemon_detail' poke.id %}"> {% endcomment %}
                    <h3>[[poke.number]] - [[poke.name]]</h3>
                {% comment %} </a> {% endcomment %}
            <img :src="poke.image_url" :alt="poke.name">
            <div v-for=" types in poke.types.all">
                
                <p>[[types.name]]</p> 
                
            </div>
            <label>
                Select:
                <input type="checkbox" name="selected-pokemon" :value="poke.id">
            </label>
        </div>
    </div>
    </div>



</body>
</html>